In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn import metrics

DATA = "input.csv"

# load data
rawdata = pd.read_csv(DATA)

In [5]:
rawdata.head()

,customer_id,order_number,order_date,item_quantity_ordered,revenue,cumulative_revenue,customer_region,customer_gender,device,cost_of_living_rank,customer_lifetime_value
0,d43cc724338819d3e6d86e4db4ae2525,fb69e40b059fc2c951ad2e9abd3cbdb4,2019-01-24,1,100.83,0.00,Nordrhein-Westfalen,f,desktop,8.0,0.00
1,e80173bffd43eaa806445a602c994a47,0a9c5da004072e042268d803d0682d6a,2019-01-09,3,277.29,0.00,Schlewig-Holstein,m,mobile,5.0,0.00
2,4ac7f94acda12131bd8380a6893b4e92,914981f42f4cae42023d0c18ef27d4b9,2019-01-29,1,42.01,672.25,Nordrhein-Westfalen,f,desktop,7.0,0.00
3,375338a5a6fe1ed0c01cfd2647faa89f,d6f752b53a133dd6640ad6d0aad20ffb,2019-01-06,1,571.42,0.00,Bayern,m,tablet,9.0,402.84
4,31472192d34b462b6b951ed33ec0c65c,015704b78f7970d33bb9be0396d5adc0,2019-01-18,4,678.96,278.55,Hessen,m,desktop,7.0,100.82

In [3]:
# select regression model
lr_model = LinearRegression()

# choose feature set
features = ["revenue", "cumulative_revenue", "item_quantity_ordered"]
target = "customer_lifetime_value"

# split data to test and train
X_train, X_test, y_train, y_test = train_test_split(rawdata[features], 
                                                    rawdata[target], 
                                                    test_size=0.2, 
                                                    random_state=42)
# train the model and predict resulst
lr_model.fit(X_train, y_train)
X_test["actual"] = y_test
X_test["prediciton"] = lr_model.predict(X_test[features])

In [4]:
# check the error
print("Mean absolute error: %.2f"%metrics.mean_absolute_error(X_test["actual"], X_test["prediciton"]))

Mean absolute error: 88.51